<html>
    <head>
        <script src="/jquery-1.7.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/browserify.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                startRoom('{{ room_id }}');
            });
        </script>
        <link rel="stylesheet" type="text/css" href="/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>REAL TIME chess</title>
    </head>
    <body>
        <div id="chess-board"></div>
        <button id="sit-white">Sit as White</button>
        <button id="sit-black">Sit as Black</button>
        <button id="start-game" disabled="disabled">Start Game</button>
        <p><a href="/">New Game</a></p>
    </body>
</html>
