<style>
  .navbar {
    display: none;
  }
</style>
<h1 class="page-header">Real-Time Chess</h1>
<div class="row">
  <div class="span4">
    <img src="/images/screenshot.png">
  </div>
  <div class="span8">
    <h3>How to play</h3>
    <p>Real-time chess is just like regular chess, except both players can move all their pieces at the same time.</p>
    <p>After you move a piece, you can't move it again for a period of time.</p>
    <hr/>
    <center>
    <a href="/new_room" class="btn btn-success btn-large btn-home">New Game</a>
    <a href="/join_random" class="btn btn-primary btn-large btn-home">Join Random Game</a>
    </center>
  </div>
</div>
