<div class="row">
  <div class="span4">
    <img src="/images/screenshot.png">
  </div>
  <div class="span8">
    <h1>Real-Time Chess</h1>
    <p>Real-time chess is just like regular chess, except both players can move all their pieces at the same time.</p>
    <p>The rules are:</p>
    <ul>
      <li>All regular chess rules apply.</li>
      <li>After you move a piece, you can't move it again for a period of time.</li>
    </ul>
    <br/>
    <center>
    <h3>Start playing now!</h3>
    <a href="/new_room" class="btn btn-success btn-large">New Game</a>
    <a href="/join_random" class="btn btn-primary btn-large">Join Random Game</a>
    </center>
  </div>
</div>
